{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href=" {% static 'hrms/css/index.css'%} " />
    <title>java developer</title>
  </head>
  <body>
    <div class="job-description">
      <header>
        <h1>Java Team Leader</h1>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
          <small>Ho Chi Minh | <span>Full time</span></small>
        </div>
        <hr />
      </header>
      <section class="container">
        <h3>What you will do</h3>
        <ul>
          <li class="required-item">
            Manage team by assign and tracking tasks of team member;
          </li>
          <li class="required-item">
            Mentor and coach junior developers to become fully competent
            developers;
          </li>
          <li class="required-item">
            Developing large projects using Java technologies (Website, Back End
            Server, MIS, SMS Gateway. etc…);
          </li>
        </ul>
        <h3>What you will need</h3>
        <ul>
          <li class="required-item">
            Have Degree in Computer Science or related fields;
          </li>
          <li class="required-item">
            4+ years experience at server-side languages such as Java;
          </li>
          <li class="required-item">
            Experience in leading a team of 7 – 10 members;
          </li>
        </ul>
        <a href="{% url 'hrms:application' %}" class="btn"
          >Apply For This Position</a
        >
      </section>
    </div>
    <script>
      var title = document.querySelector("h1").textContent;
      sessionStorage.setItem("title", title);
    </script>
  </body>
</html>
